Repository Eduk29/tangerine-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint src/**/*.scss

.lintstagedrc.json:

{
  "*.ts": ["eslint", "prettier --write"],
  "*.html": ["eslint", "prettier --write"],
  "*.scss": "stylelint src/**/*.scss"
}

chore: added commitzen to project
  package-lock.json
  package.json
Due: none

chore: added stylelint to project
  .stylelintrc.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat(component): impl. new icon component
  src/app/components/icon/icon.component.html
  src/app/components/icon/icon.component.scss
  src/app/components/icon/icon.component.spec.ts
  src/app/components/icon/icon.component.ts
  src/app/components/icon/icon.module.ts
  src/app/components/icon/types/icon-colors.type.ts
  src/app/components/icon/types/icon-library.type.ts
  src/app/components/icon/types/icon-sizes.type.ts
  src/index.html
Due: eslint, prettier --write, stylelint src/**/*.scss

feat(component): impl. basic, flat, outlined and fab button component
  src/app/components/button/button.component.html
  src/app/components/button/button.component.scss
  src/app/components/button/button.component.spec.ts
  src/app/components/button/button.component.ts
  src/app/components/button/button.module.ts
  src/app/components/button/directives/basic-button.directive.spec.ts
  src/app/components/button/directives/basic-button.directive.ts
  src/app/components/button/directives/fab-button.directive.spec.ts
  src/app/components/button/directives/fab-button.directive.ts
  src/app/components/button/directives/flat-button.directive.spec.ts
  src/app/components/button/directives/flat-button.directive.ts
  src/app/components/button/directives/outline-button.directive.spec.ts
  src/app/components/button/directives/outline-button.directive.ts
  src/app/components/button/styles/basic-button.component.scss
  src/app/components/button/styles/fab-button.component.scss
  src/app/components/button/styles/flat-button.component.scss
  src/app/components/button/styles/outline-button.component.scss
  src/app/components/button/types/button-color.type.ts
  src/app/components/button/types/button-icon-colors.type.ts
  src/app/components/button/types/button-icon-position.type.ts
Due: eslint, prettier --write, stylelint src/**/*.scss

chore: impl. base of showcase
  src/app/showcase/configs/showcase.routes.ts
  src/app/showcase/showcase-routing.module.ts
  src/app/showcase/showcase.component.html
  src/app/showcase/showcase.component.scss
  src/app/showcase/showcase.component.spec.ts
  src/app/showcase/showcase.component.ts
  src/app/showcase/showcase.module.ts
Due: eslint, prettier --write, stylelint src/**/*.scss

chore: impl. basic button showcase
  src/app/showcase/button-showcase/button-showcase.component.html
  src/app/showcase/button-showcase/button-showcase.component.scss
  src/app/showcase/button-showcase/button-showcase.component.spec.ts
  src/app/showcase/button-showcase/button-showcase.component.ts
  src/app/showcase/button-showcase/button-showcase.module.ts
Due: eslint, prettier --write, stylelint src/**/*.scss

chore: added piscium theme to project
  package-lock.json
  package.json
Due: none

chore: adjusts to add piscium them to project
  .stylelintrc.json
  angular.json
  src/main.ts
  src/styles.sass
  src/styles.scss
  tsconfig.json
Due: eslint, prettier --write, stylelint src/**/*.scss

chore: impl base of home module and route
  src/app/home/configs/home.routes.ts
  src/app/home/home-routing.module.ts
  src/app/home/home.component.html
  src/app/home/home.component.scss
  src/app/home/home.component.spec.ts
  src/app/home/home.component.ts
  src/app/home/home.module.ts
Due: eslint, prettier --write, stylelint src/**/*.scss

refactor: impl. some adjusts in icon component
  src/app/components/icon/icon.component.html
  src/app/components/icon/icon.component.scss
Due: eslint, prettier --write, stylelint src/**/*.scss

chore: impl. showcase of icon component
  src/app/showcase/icon-showcase/icon-showcase.component.html
  src/app/showcase/icon-showcase/icon-showcase.component.scss
  src/app/showcase/icon-showcase/icon-showcase.component.spec.ts
  src/app/showcase/icon-showcase/icon-showcase.component.ts
  src/app/showcase/icon-showcase/icon-showcase.module.ts
  src/app/showcase/showcase.module.ts
Due: eslint, prettier --write, stylelint src/**/*.scss

chore: migrated form standalone to module based app
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.component.sass
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/app.config.ts
  src/app/app.module.ts
Due: eslint, prettier --write, stylelint src/**/*.scss

refactor: removed showcase junk files
  src/app/showcase/showcase.component.html
  src/app/showcase/showcase.component.scss
  src/app/showcase/showcase.component.spec.ts
  src/app/showcase/showcase.component.ts
  src/app/showcase/showcase.module.ts
Due: eslint, prettier --write, stylelint src/**/*.scss

chore: impl. lazy load routes to app
  src/app/app.routes.ts
Due: eslint, prettier --write

feat: impl. navbar component
  src/app/components/navbar/navbar.component.html
  src/app/components/navbar/navbar.component.scss
  src/app/components/navbar/navbar.component.spec.ts
  src/app/components/navbar/navbar.component.ts
  src/app/components/navbar/navbar.module.ts
  src/app/components/navbar/types/navbar-colors.type.ts
Due: eslint, prettier --write, stylelint src/**/*.scss

chore: impl. showcase for navbar component
  src/app/showcase/configs/showcase.routes.ts
  src/app/showcase/navbar-showcase/navbar-showcase.component.html
  src/app/showcase/navbar-showcase/navbar-showcase.component.scss
  src/app/showcase/navbar-showcase/navbar-showcase.component.spec.ts
  src/app/showcase/navbar-showcase/navbar-showcase.component.ts
  src/app/showcase/navbar-showcase/navbar-showcase.module.ts
  src/app/showcase/showcase.module.ts
Due: eslint, prettier --write, stylelint src/**/*.scss

refactor: adjusts in button and icon to navbar
  src/app/components/button/button.component.html
  src/app/components/button/button.component.ts
  src/app/components/button/types/button-icon-library.type.ts
  src/app/components/icon/types/icon-colors.type.ts
  src/styles.scss
Due: eslint, prettier --write, stylelint src/**/*.scss

feat(component): impl. new card component
  src/app/components/card/card.component.html
  src/app/components/card/card.component.scss
  src/app/components/card/card.component.spec.ts
  src/app/components/card/card.component.ts
  src/app/components/card/card.module.ts
Due: eslint, prettier --write, stylelint src/**/*.scss

refactor: adjust in showcase routes
  src/app/showcase/configs/showcase.routes.ts
  src/app/showcase/showcase-routing.module.ts
  src/app/showcase/showcase.module.ts
  src/app/showcase/showcase.routes.ts
Due: eslint, prettier --write

refactor: removed ng-deep rule in stylelint
  .stylelintrc.json
Due: none

feat: impl. showcase of card component
  src/app/showcase/card-showcase/card-showcase.component.html
  src/app/showcase/card-showcase/card-showcase.component.scss
  src/app/showcase/card-showcase/card-showcase.component.spec.ts
  src/app/showcase/card-showcase/card-showcase.component.ts
  src/app/showcase/card-showcase/card-showcase.module.ts
Due: eslint, prettier --write, stylelint src/**/*.scss

feat(component): impl. new text formfield component
  src/app/components/formfields/formfield-text/formfield-text.component.html
  src/app/components/formfields/formfield-text/formfield-text.component.scss
  src/app/components/formfields/formfield-text/formfield-text.component.spec.ts
  src/app/components/formfields/formfield-text/formfield-text.component.ts
  src/app/components/formfields/formfield-text/formfield-text.module.ts
  src/app/components/formfields/types/formfield-label-position.type.ts
Due: eslint, prettier --write, stylelint src/**/*.scss

feat(showcase): impl. base of formfield showcase (routes, module and app integrated)
  src/app/showcase/formfield-showcase/formfield-showcase-routing.module.ts
  src/app/showcase/formfield-showcase/formfield-showcase.module.ts
  src/app/showcase/formfield-showcase/formfield-showcase.routes.ts
  src/app/showcase/showcase.routes.ts
Due: eslint, prettier --write

feat(showcase): impl text formfield showcase
  src/app/showcase/formfield-showcase/text-formfield-showcase/text-formfield-showcase.component.html
  src/app/showcase/formfield-showcase/text-formfield-showcase/text-formfield-showcase.component.scss
  src/app/showcase/formfield-showcase/text-formfield-showcase/text-formfield-showcase.component.spec.ts
  src/app/showcase/formfield-showcase/text-formfield-showcase/text-formfield-showcase.component.ts
  src/app/showcase/formfield-showcase/text-formfield-showcase/text-formfield-showcase.module.ts
Due: eslint, prettier --write, stylelint src/**/*.scss

refactor: removed spacing class in text formfield
  src/app/components/formfields/formfield-text/formfield-text.component.html
Due: eslint, prettier --write

feat: impl. password form field component
  src/app/components/formfields/formfield-password/formfield-password.component.html
  src/app/components/formfields/formfield-password/formfield-password.component.scss
  src/app/components/formfields/formfield-password/formfield-password.component.spec.ts
  src/app/components/formfields/formfield-password/formfield-password.component.ts
  src/app/components/formfields/formfield-password/formfield-password.module.ts
Due: eslint, prettier --write, stylelint src/**/*.scss

feat(showcase): impl. showcase of password formfield component
  src/app/showcase/formfield-showcase/password-formfield-showcase/password-formfield-showcase.component.html
  src/app/showcase/formfield-showcase/password-formfield-showcase/password-formfield-showcase.component.scss
  src/app/showcase/formfield-showcase/password-formfield-showcase/password-formfield-showcase.component.spec.ts
  src/app/showcase/formfield-showcase/password-formfield-showcase/password-formfield-showcase.component.ts
  src/app/showcase/formfield-showcase/password-formfield-showcase/password-formfield-showcase.module.ts
Due: eslint, prettier --write, stylelint src/**/*.scss

feat(typography): added DS typography to project
  src/app/app.component.html
  src/styles.scss
Due: eslint, prettier --write, stylelint src/**/*.scss

refactor: adjust in text formfield to receive class and protect undefined class
  src/app/components/formfields/formfield-text/formfield-text.component.ts
Due: eslint, prettier --write

refactor: adjust in button custom class
  src/app/components/button/button.component.html
  src/app/components/button/button.component.ts
Due: eslint, prettier --write

feat(component): impl. side menu component
  src/app/components/side-menu/models/side-menu-button.model.ts
  src/app/components/side-menu/side-menu.component.html
  src/app/components/side-menu/side-menu.component.scss
  src/app/components/side-menu/side-menu.component.spec.ts
  src/app/components/side-menu/side-menu.component.ts
  src/app/components/side-menu/side-menu.module.ts
  src/app/components/side-menu/types/side-menu-button-color.type.ts
  src/app/shared/configs/showcase-side-menu.config.ts
Due: eslint, prettier --write, stylelint src/**/*.scss

feat(component): impl. base of not found page component
  src/app/app.component.html
  src/app/app.module.ts
  src/app/app.routes.ts
  src/app/shared/pages/not-found-page/not-found-page.component.html
  src/app/shared/pages/not-found-page/not-found-page.component.scss
  src/app/shared/pages/not-found-page/not-found-page.component.spec.ts
  src/app/shared/pages/not-found-page/not-found-page.component.ts
  src/app/shared/pages/not-found-page/not-found-page.module.ts
Due: eslint, prettier --write, stylelint src/**/*.scss

refactor: added redirect to button in base path
  src/app/showcase/showcase.routes.ts
Due: eslint, prettier --write

feat: impl. snackbar component
  src/app/components/snackbar/models/snackbar-data.model.ts
  src/app/components/snackbar/services/snackbar.service.spec.ts
  src/app/components/snackbar/services/snackbar.service.ts
  src/app/components/snackbar/snackbar.component.html
  src/app/components/snackbar/snackbar.component.scss
  src/app/components/snackbar/snackbar.component.spec.ts
  src/app/components/snackbar/snackbar.component.ts
  src/app/components/snackbar/snackbar.module.ts
  src/app/components/snackbar/templates/error-snackbar.template.ts
  src/app/components/snackbar/templates/info-snackbar.template.ts
  src/app/components/snackbar/templates/success-snackbar.template.ts
  src/app/components/snackbar/templates/warning-snackbar.template.ts
  src/app/components/snackbar/types/snackbar-color.type.ts
  src/app/components/snackbar/types/snackbar-horizontal-position.type.ts
  src/app/components/snackbar/types/snackbar-icon-position.type.ts
  src/app/components/snackbar/types/snackbar-vertical-position.type.ts
Due: eslint, prettier --write, stylelint src/**/*.scss

feat: impl. showcase of snackbar component
  src/app/shared/configs/showcase-side-menu.config.ts
  src/app/showcase/showcase.module.ts
  src/app/showcase/showcase.routes.ts
  src/app/showcase/snackbar-showcase/snackbar-showcase.component.html
  src/app/showcase/snackbar-showcase/snackbar-showcase.component.scss
  src/app/showcase/snackbar-showcase/snackbar-showcase.component.spec.ts
  src/app/showcase/snackbar-showcase/snackbar-showcase.component.ts
  src/app/showcase/snackbar-showcase/snackbar-showcase.module.ts
Due: eslint, prettier --write, stylelint src/**/*.scss

chore: adjusts in husky git hooks
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
  package-lock.json
Due: none

feat(component): impl. new select form field component
  src/app/components/formfields/formfield-select/formfield-select.component.html
  src/app/components/formfields/formfield-select/formfield-select.component.scss
  src/app/components/formfields/formfield-select/formfield-select.component.spec.ts
  src/app/components/formfields/formfield-select/formfield-select.component.ts
  src/app/components/formfields/formfield-select/formfield-select.module.ts
  src/app/components/formfields/formfield-select/models/select-option.model.ts
  src/app/shared/configs/showcase-side-menu.config.ts
Due: eslint, prettier --write, stylelint src/**/*.scss

feat(showcase): impl. showcase of new select form field component
  src/app/showcase/formfield-showcase/formfield-showcase.module.ts
  src/app/showcase/formfield-showcase/formfield-showcase.routes.ts
  src/app/showcase/formfield-showcase/select-formfield-showcase/select-formfield-showcase.component.html
  src/app/showcase/formfield-showcase/select-formfield-showcase/select-formfield-showcase.component.scss
  src/app/showcase/formfield-showcase/select-formfield-showcase/select-formfield-showcase.component.spec.ts
  src/app/showcase/formfield-showcase/select-formfield-showcase/select-formfield-showcase.component.ts
  src/app/showcase/formfield-showcase/select-formfield-showcase/select-formfield-showcase.module.ts
Due: eslint, prettier --write, stylelint src/**/*.scss

refactor: adjust in typography declaration in root tag
  package-lock.json
  src/app/app.component.html
  src/app/components/side-menu/side-menu.component.html
  src/index.html
Due: eslint, prettier --write

refactor: adjust in button label size
  src/app/components/button/button.component.html
Due: eslint, prettier --write
