Repository Eduk29/tangerine-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint src/**/*.scss

refactor: generate lib version
  ng-package.json
  package-lock.json
  package.json
  public_api.ts
  src/app/components/button/index.ts
  src/app/components/button/styles/flat-button.component.scss
  src/app/components/button/styles/outline-button.component.scss
  src/app/components/card/index.ts
  src/app/components/formfields/index.ts
  src/app/components/icon/icon.component.scss
  src/app/components/icon/index.ts
  src/app/components/navbar/index.ts
  src/app/components/navbar/navbar.component.scss
  src/app/components/side-menu/index.ts
  src/app/components/side-menu/side-menu.component.ts
  src/app/components/snackbar/index.ts
  src/app/shared/configs/showcase-side-menu.config.ts
Due: eslint, prettier --write, stylelint src/**/*.scss

refactor: added formfiled to lib
  public_api.ts
Due: eslint, prettier --write

refactor: adjust in formfields structure
  dist/esm2022/src/app/components/button/button.component.mjs
  dist/esm2022/src/app/components/formfields/formfield-password/formfield-password.component.mjs
  dist/esm2022/src/app/components/formfields/formfield-text/formfield-text.component.mjs
  dist/esm2022/src/app/components/icon/icon.component.mjs
  dist/esm2022/src/app/components/navbar/navbar.component.mjs
  dist/esm2022/src/app/components/side-menu/side-menu.component.mjs
  dist/esm2022/src/app/components/snackbar/snackbar.component.mjs
  dist/fesm2022/tangerine-design-system.mjs
  dist/fesm2022/tangerine-design-system.mjs.map
  dist/package.json
  ng-package.json
  package-lock.json
  package.json
  src/app/components/formfields/formfield-password/formfield-password.component.html
  src/app/components/formfields/formfield-text/formfield-text.component.html
  src/app/components/formfields/formfield-text/formfield-text.component.scss
  src/app/components/formfields/formfield-text/formfield-text.component.ts
  src/app/showcase/formfield-showcase/text-formfield-showcase/text-formfield-showcase.component.html
Due: eslint, prettier --write, stylelint src/**/*.scss

refactor: added new build version
  dist/package.json
  ng-package.json
  package-lock.json
  package.json
Due: none

fix: adjust in formfields size
  src/app/components/formfields/formfield-password/formfield-password.component.html
  src/app/components/formfields/formfield-password/formfield-password.component.scss
  src/app/components/formfields/formfield-password/formfield-password.component.ts
  src/app/components/formfields/formfield-select/formfield-select.component.html
  src/app/components/formfields/formfield-select/formfield-select.component.ts
  src/app/components/formfields/formfield-text/formfield-text.component.html
  src/app/components/formfields/formfield-text/formfield-text.component.ts
Due: eslint, prettier --write, stylelint src/**/*.scss

feat: impl. components playground
  src/app/app.routes.ts
  src/app/playground/formfield-playground/formfield-playground.component.html
  src/app/playground/formfield-playground/formfield-playground.component.scss
  src/app/playground/formfield-playground/formfield-playground.component.spec.ts
  src/app/playground/formfield-playground/formfield-playground.component.ts
  src/app/playground/playground-routing.module.ts
  src/app/playground/playground.module.ts
  src/app/playground/playground.routes.ts
  src/app/showcase/formfield-showcase/password-formfield-showcase/password-formfield-showcase.component.html
  src/app/showcase/formfield-showcase/select-formfield-showcase/select-formfield-showcase.component.html
Due: eslint, prettier --write, stylelint src/**/*.scss

refactor: generated new build
  angular.json
  dist/tangerine-design-system/3rdpartylicenses.txt
  dist/tangerine-design-system/browser/chunk-27UWYZHQ.js
  dist/tangerine-design-system/browser/chunk-3WSBSE2W.js
  dist/tangerine-design-system/browser/chunk-6PSNVS6C.js
  dist/tangerine-design-system/browser/chunk-7JLXNOX4.js
  dist/tangerine-design-system/browser/chunk-AAR65G36.js
  dist/tangerine-design-system/browser/chunk-EFNM5H5W.js
  dist/tangerine-design-system/browser/chunk-HNYWVO5M.js
  dist/tangerine-design-system/browser/chunk-JXN4NA6O.js
  dist/tangerine-design-system/browser/chunk-K4WGIYUN.js
  dist/tangerine-design-system/browser/chunk-PLVTVSXI.js
  dist/tangerine-design-system/browser/chunk-YL6JFSVM.js
  dist/tangerine-design-system/browser/favicon.ico
  dist/tangerine-design-system/browser/index.html
  dist/tangerine-design-system/browser/main-OP2W7Y5L.js
  dist/tangerine-design-system/browser/polyfills-FFHMD2TL.js
  dist/tangerine-design-system/browser/styles-5UCEWL65.css
Due: eslint, prettier --write

refactor: generate new build with formfield adjusts
  dist/esm2022/src/app/components/formfields/formfield-password/formfield-password.component.mjs
  dist/esm2022/src/app/components/formfields/formfield-select/formfield-select.component.mjs
  dist/esm2022/src/app/components/formfields/formfield-text/formfield-text.component.mjs
  dist/fesm2022/tangerine-design-system.mjs
  dist/fesm2022/tangerine-design-system.mjs.map
  dist/tangerine-design-system/3rdpartylicenses.txt
  dist/tangerine-design-system/browser/chunk-27UWYZHQ.js
  dist/tangerine-design-system/browser/chunk-3WSBSE2W.js
  dist/tangerine-design-system/browser/chunk-6PSNVS6C.js
  dist/tangerine-design-system/browser/chunk-7JLXNOX4.js
  dist/tangerine-design-system/browser/chunk-AAR65G36.js
  dist/tangerine-design-system/browser/chunk-EFNM5H5W.js
  dist/tangerine-design-system/browser/chunk-HNYWVO5M.js
  dist/tangerine-design-system/browser/chunk-JXN4NA6O.js
  dist/tangerine-design-system/browser/chunk-K4WGIYUN.js
  dist/tangerine-design-system/browser/chunk-PLVTVSXI.js
  dist/tangerine-design-system/browser/chunk-YL6JFSVM.js
  dist/tangerine-design-system/browser/favicon.ico
  dist/tangerine-design-system/browser/index.html
  dist/tangerine-design-system/browser/main-OP2W7Y5L.js
  dist/tangerine-design-system/browser/polyfills-FFHMD2TL.js
  dist/tangerine-design-system/browser/styles-5UCEWL65.css
Due: eslint, prettier --write

refactor: adjusts in card size
  dist/esm2022/src/app/components/card/card.component.mjs
  dist/fesm2022/tangerine-design-system.mjs
  dist/fesm2022/tangerine-design-system.mjs.map
  src/app/components/card/card.component.html
Due: eslint, prettier --write

feat: impl. navbar content projection
  dist/esm2022/src/app/components/navbar/navbar.component.mjs
  dist/fesm2022/tangerine-design-system.mjs
  dist/fesm2022/tangerine-design-system.mjs.map
  dist/src/app/components/navbar/navbar.component.d.ts
  package.json
  src/app/components/navbar/navbar.component.html
Due: eslint, prettier --write

refactor: adjust in navbar content projection size
  dist/esm2022/src/app/components/navbar/navbar.component.mjs
  dist/fesm2022/tangerine-design-system.mjs
  dist/fesm2022/tangerine-design-system.mjs.map
  src/app/components/navbar/navbar.component.html
Due: eslint, prettier --write

feat: impl. showcase of email formfield component
  src/app/shared/configs/showcase-side-menu.config.ts
  src/app/showcase/formfield-showcase/email-formfield-showcase/email-formfield-showcase.component.html
  src/app/showcase/formfield-showcase/email-formfield-showcase/email-formfield-showcase.component.scss
  src/app/showcase/formfield-showcase/email-formfield-showcase/email-formfield-showcase.component.spec.ts
  src/app/showcase/formfield-showcase/email-formfield-showcase/email-formfield-showcase.component.ts
  src/app/showcase/formfield-showcase/email-formfield-showcase/email-formfield-showcase.module.ts
  src/app/showcase/formfield-showcase/formfield-showcase-routing.module.ts
  src/app/showcase/formfield-showcase/formfield-showcase.module.ts
  src/app/showcase/formfield-showcase/formfield-showcase.routes.ts
Due: eslint, prettier --write, stylelint src/**/*.scss

refactor: adjust in archive name and model name
  src/app/components/formfields/formfield-password/formfield-password.component.ts
  src/app/components/formfields/formfield-select/formfield-select.component.ts
  src/app/components/formfields/formfield-text/formfield-text.component.html
  src/app/components/formfields/formfield-text/formfield-text.component.ts
  src/app/components/formfields/types/formfield-label-position.type.ts
Due: eslint, prettier --write

feat: impl. email formfield component
  src/app/components/formfields/formfield-email/formfield-email.component.html
  src/app/components/formfields/formfield-email/formfield-email.component.scss
  src/app/components/formfields/formfield-email/formfield-email.component.spec.ts
  src/app/components/formfields/formfield-email/formfield-email.component.ts
  src/app/components/formfields/formfield-email/formfield-email.module.ts
Due: eslint, prettier --write, stylelint src/**/*.scss

feat: release new build with email formfield
  dist/esm2022/src/app/components/formfields/formfield-password/formfield-password.component.mjs
  dist/esm2022/src/app/components/formfields/formfield-select/formfield-select.component.mjs
  dist/esm2022/src/app/components/formfields/formfield-text/formfield-text.component.mjs
  dist/esm2022/src/app/components/formfields/types/formfield-label-position.type.mjs
  dist/esm2022/src/app/shared/configs/showcase-side-menu.config.mjs
  dist/fesm2022/tangerine-design-system.mjs
  dist/fesm2022/tangerine-design-system.mjs.map
  dist/src/app/components/formfields/formfield-password/formfield-password.component.d.ts
  dist/src/app/components/formfields/formfield-select/formfield-select.component.d.ts
  dist/src/app/components/formfields/formfield-text/formfield-text.component.d.ts
  dist/src/app/components/formfields/types/formfield-label-position.type.d.ts
Due: eslint, prettier --write

refactor: adjusts in linters to receive new components name
  angular.json
  eslint.config.mjs
Due: none

refactor: impl. adjust in snackbar component
  dist/esm2022/src/app/components/snackbar/tds-snackbar.module.mjs
  dist/fesm2022/tangerine-design-system.mjs
  dist/fesm2022/tangerine-design-system.mjs.map
  dist/src/app/components/snackbar/tds-snackbar.module.d.ts
  src/app/components/snackbar/tds-snackbar.module.ts
  src/app/showcase/snackbar-showcase/snackbar-showcase.module.ts
Due: eslint, prettier --write

Path conditions:
  eslint: (any of: *.ts) or (any of: *.html)
  prettier --write: (any of: *.ts) or (any of: *.html)
  stylelint src/**/*.scss: any of: *.scss
